/* -------------------------------------
          RESET STYLES
   ------------------------------------- */
body, #bodyTable, #bodyCell {
  height:100% !important;
  margin:0;
  padding:0;
  width:100% !important;
}
body, #bodyTable {
  background-color: #EAEAEA;
}
table {
  border-collapse:collapse;
}
img, a img {
  border:0;
  outline:none;
  text-decoration:none;
}
a img {
  display:table-cell;
} /* this prevents links from overflowing images */
h1, h2, h3, h4, h5, h6, p, div, td, table, img {
  margin:0;
  padding:0;
}

/* -------------------------------------
        GENERAL STYLES
  ------------------------------------- */
* {
  font-family:'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.3em;
}
#header-content, #contain {
  background-color: #3076B1;
}
#footer {
  background-color: #19284E;
  height: 5.7em;
}
.padding {
  padding: 2em;
}
.padding-class {
  padding: .9em 3em;
}
.padding-title-class {
  padding: 4em 0.9em 0 0.9em;
}
.padding-subtitle-class {
  padding: 0.9em 0.9em 3em 0.9em;
}
#main-content {
  background-color: #FFFFFF;
  border: 0;
}
#bodyTable {
  margin: 20px 0;
}  /* set top/bottom margin of containing table */
p, h4, a, li, a.phone {
  color: #1C1C1C;
}   /* resolve issue of text displaying as purple in gmail */
td.padding-class p.last-paragraph {
  margin-bottom: 0;
}
sup {
  vertical-align: top;
  font-size: 0.6em;
}  /* fix issue of superscipt text affecting line-height */
img {
  display: block;
}

/* header section styles */
#header-content {
  height: 100px;
}
#header-img img {
  width: 150px;
  height: auto;
}

/* button styles */
.CTA-button {
  height: 2.2em;
  margin: 1em 0;
}
.CTA-button a {
  color: #3076B1;
  text-decoration: none;
  padding: 1em 3.6em;
}  /* set width of button with padding */

/* content section */
h1.title {
  font-size: 2em;
  font-weight: 600;
}
h2.subtitle {
  color: #C6C6C6 !important;
  font-size: 1.5em;
  font-weight: 200;
  text-decoration: none !important;
}
.background-line {
  background: url("https://gallery.mailchimp.com/b5fa0fa18bba5ccaa727c70a5/images/6cb9ff28-92eb-45db-8c73-362d85d7f620.png") center repeat-x;
  background-image: url("https://gallery.mailchimp.com/b5fa0fa18bba5ccaa727c70a5/images/6cb9ff28-92eb-45db-8c73-362d85d7f620.png");
  background-position: center;
  background-repeat: repeat-x;
  margin: 0;
  padding: 0;
}
.padding-top {
  padding-top: 3em !important;
}
.padding-bottom {
  padding-bottom: 3em !important;
}
.title-box p {
  line-height: 1.3;
  margin: 0;
  padding: 1em 0;
}
.subtitle-green {
  color: #28AC71;
  font-size: 0.8em;
  line-height: 1;
  margin: 0;
  padding: 0;
}
.subtitle-blue{
  color: #3076B1;
  font-size: 0.8em;
  line-height: 1;
  margin: 0;
  padding: 0;
}
.subtitle-bold {
  font-weight: 600;
  /*white-space: nowrap;*/
}
.percentage {
  font-size: 3em;
  color: #C6C6C6;
  margin:0;
  padding: 0;
}
.color-gray {
  color: #94908E;
}
.color-blue {
  color: #3076B1;
}
.color-white {
  color: #FFFFFF;
}
.border-bottom-dotted {
  border-bottom: 1px dotted #C6C6C6;
}
.border-left-dotted {
  border-left: 1px dotted #C6C6C6;
}
.border-buttom {
  border-radius: 30px;
  border: 1px solid #3076B1;
}
.circle {
  border-radius: 50%;
  height: 40px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  width: 40px;
}
.circle-blue {
  border: 1px dashed #3076B1;
  color: #3076B1;
}
.circle-green {
  border: 1px dashed #28AC71;
  color: #28AC71;
}
.circle-orange {
  border: 1px dashed #F54C2D;
  color: #F54C2D;
}

/* ranking section styles */
.rankings-title {
  font-weight: 200;
}
.rankings-item {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
}
.background-gray {
  background-color: #C6C6C6;
  height: 30px;
  margin: 0;
  width: 30px;
}
#quad img {
  max-width: 60px;
  max-height: 60px;
  margin: .1em;
}
.blurb h4 {
  margin-bottom: .2em;
}
.blurb p a {
  color: #1C1C1C;
}
.blurb p {
  line-height: 1.4em;
}

/* footer styles */
.address-fix a {
  color: #1C1C1C !important;
  text-decoration: none;
}  /* eliminate address link generated by Apple Mail */
#social-icons img {
  width: 60px;
  display: inline-block;
  margin-bottom: .8em;
  padding: 2px;
}
#footer-logo-container p{
  color: #ffffff;
  font-size: 0.75em;
  font-weight:200;
  margin: 0;
  padding: 2em 3em;
}

/* shift fonts over to ems for font-sizes and formatting, and rems for modules */
html {
  font-size: 12px;
}

h4 {
  font-size: 1em;
}
p {
  font-size: 1em;
  font-weight: 200;
  line-height: 2;
}
.blurb p {
  font-size: .75em;
}
#footer-info p {
  font-size: .6em;
}

.header-rem {font-size: 1.3rem;}
.main-rem {font-size: 1.4rem;}
.footer-rem {font-size: 1.6rem}
